<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.locals.title = "Register"
} %>

<%- messages() %>

<div class="divre">
    <p class="emcabezado">ALL FIELDS ARE REQUIRED</p>

    <form id="registrationForm" action="/account/register" method="post">
    
        <label for="account_firstname" class="labelre">First Name:</label>
        <input type="text" id="account_firstname" name="account_firstname" required>
        
        <label for="account_lastname" class="labelre">Last Name:</label>
        <input type="text" id="account_lastname" name="account_lastname" required>
        
        <label for="account_email" class="labelre">Email:</label>
        <input type="email" id="account_email" name="account_email" required placeholder="Enter a valid email address">
        
        <label for="account_password" class="labelre">Password:</label>
        <input type="password" id="account_password" name="account_password" required 
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <span class="password-requirements">
            Password must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special characters.
        </span>
        
        <button type="button" id="pswdBtn">Show Password</button>
        
        <button type="submit" id="botonreg">Register</button>
        
    </form>

    <p>Already have an account? <a href="/account/login">Login</a></p>

    <script>
        const pswdBtn = document.querySelector("#pswdBtn");
        pswdBtn.addEventListener("click", function() {
            const pswdInput = document.getElementById("account_password");
            const type = pswdInput.getAttribute("type");
            if (type == "password") {
            pswdInput.setAttribute("type", "text");
            pswdBtn.textContent = "Hide Password";
            } else {
            pswdInput.setAttribute("type", "password");
            pswdBtn.textContent = "Show Password";
            }
        });
    </script>
</div>